h1 {
  color: #836795;
  text-decoration: overline underline 5px #CEBACF;
}
h1:hover {
  color: #A800A8;
  text-decoration: overline underline dotted 10px #D4AAFF;
  
}
img:hover {
  width: 500px;
  height: 500px;
}

body {
  background-color: #FDFFCD
}
nav {
  list-style-type: none;
  background-color: #FAE997;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
li a {
  text-decoration: none;
  color: #836795;
  display: block;
  float: left;
  padding: 15px 50px;
}

li a:hover {
  background-color: #F5DCE9;
  color: #836795;
}

